body {
    margin: 0px;
    font-family: sans-serif;
}

input[type=text] {
    background-color: #267848;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 5%;
    margin-bottom: 10px;
    width: 90%;
    font-size: 18px;
}

    input[type=text]::placeholder {
        color: white;
    }

input[type=button] {
    background-color: #267848;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
}

    input[type=button]:hover {
        background-color: #1d5c37;
    }

.container {
    margin: 0 auto;
    padding: 40px 40px 0 40px;
    color: white;
    max-width: 768px;
    text-align: center;
}

.container-form {
    padding-top: 20px;
}

.login-image {
    width: 250px;
}

.register-image {
    width: 200px;
}

.talk-image-chat {
    width: 150px;
}

.talk-image-user {
    width: 40px;
}

.talk-user-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 30px 0 0 15px;
}

.talk-user-name {
    color: white;
    margin-left: 12px;
    font-size: 16px;
}

.talk-user-email {
    color: lightgray;
    margin-left: 10px;
    font-size: 12px;
}

.talk-message-list {
    overflow-x: hidden;
    height: calc(100vh - 60px);
}

.talk-message-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.talk-message-send {
    width: 100px;
    border-radius: 25px;
    background-color: #267848;
    background-image: url("../images/send.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    height: 50px;
    margin-left: 10px;
}

.talk-message-text {
    margin: 0 !important;
}

.task-message-item {
    width: 65%;
    margin: 10px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 15px;
    border: 0.5px solid #f2f2f2;
    box-shadow: 0px 4px 17px 0px rgba(219,219,219,1);
}

.talk-message-left {
    float: left;
    text-align: start;
}

.talk-message-right {
    float: right;
    text-align: end;
}

.task-message-head {
    background-color: white;
}

.task-message-body {
    margin-top: 10px;
    color: #8c8c8c;
}

.sidenav {
    height: 100%;
    width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #32a060;
    overflow-x: hidden;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #f2f2f2;
        display: block;
    }

        .sidenav a:hover {
            color: white;
        }

.main {
    margin-left: 320px;
    padding: 0 10px;
}
