@{
    ViewData["Title"] = "Log In";
}

@section Styles {
    <style type="text/css">
        body {
            background-color: #32a060;
        }
    </style>
}

<div class="container">
    <img class="login-image" src="~/images/chat.png" />

    <h1>Real-Time Chat</h1>

    <div class="container-form">
        <input id="email" type="text" placeholder="Email" />

        <input id="password" type="text" placeholder="Password" />

        <input id="logIn" type="button" value="Log In" />

        <input type="button" value="Register" />

        <div id="result"></div>
    </div>
</div>
