@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <style type="text/css">
        body {
            background-color: #32a060;
        }
    </style>
}

<div class="container">
    <img class="register-image" src="~/images/chat.png" />

    <h1>Real-Time Chat</h1>

    <div class="container-form">
        <input id="name" type="text" placeholder="Name" />

        <input id="email" type="text" placeholder="Email" />

        <input id="password" type="text" placeholder="Password" />

        <input id="register" type="button" value="Register" />
    </div>
</div>
